*{
  box-sizing: border-box;
}

body {
  text-align: center;
  line-height: 1.5;
}

ul {
  padding-left: 0;
  display: flex;
  flex-direction: column-reverse;
}

li {
  margin: 0 auto;
  border: 1px solid black;
  list-style-type: none;
  text-align: center;
  margin-top: 10px;
  width: 100%;
}

.js-add-bookmark, .min-rating-filter{
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
}

#adding-bookmark-form {
  text-align: left;
  display: none;
}

label {
  display: block;
}

form {
  width: 300px;
  margin: 0 auto;
  border: 2px solid black;
  padding: 2px 15px;
  margin-top: 10px;
}

.bookmark-title, .bookmark-rating {
  display: inline;
  padding-right: 30px;
}

.form-buttons {
  text-align: center;
}

.rating {
  padding: 10px 0;
}

fieldset {
  border: 0;
  padding: 0;
}

input[type="radio"] {
  margin-right: 5px;
}

.error-container {
  background: red;
  width: 75%;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
  padding-right: 2px;
}

#close-error {
  background: red;
  border: 1px solid black;
  float: right;
  height: 15px;
  font-size: 10px;
  width: 15px;
  text-align: center;
  padding: 0;
  margin-top: 3px;
}

.error-container p {
  margin: 0;
}

@media only screen and (min-width: 700px) {
  li {
    width: 50%;
    display: inline;
  }

  .error-container {
    width: 50%;
  }
}

@media only screen and (min-width: 800px) {
  .error-container {
    width: 390px;
  }
}